@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", serif;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
  overflow:  hidden;
  overflow-y: scroll;
  }
img{
  border-radius: 50%;
  width: 10%;
}
::selection{
  background-color: black;
  color: #fff;
}


@keyframes sparkle {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

.sparkle {
  animation: sparkle 1.2s ease-in-out infinite;
}
